h3 {
	background-color: #fff;
	padding: 15px;
}
h4 {
	padding: 15px;
}
p {
	padding: 15px;
}
.delete_item {
	float: right;
}
.dashboard_manage {
	border: none;
	background:  none;
	padding: 0;
}
.blog-wrapper {
	border: 1px solid #bbb;
	margin-right: 15px;
	width: 630px;
	float: left;
}
.blog-wrapper .new-article-button {
    border-bottom: 1px solid #bbb;
    padding-bottom: 15px;
    background-color: #fff;

}
.blog-wrapper .new-article-button a {
    margin: auto;
    text-align:  center;
    display: block;
    width: 80%;
    font-size: 14px;
    padding: 10px;
    color:  #fff;
    border: 1px solid #bbb;
    background-color: #00884F;
}
.blog-wrapper .new-article-button a:hover {
	background-color: #00aa63;
}
.blog-category-wrapper {
	float:  left;
	border: 1px solid #bbb;
}
.blog-category-wrapper h4 {
	padding: 0;
    margin-bottom: 15px;
}
.blog-category-wrapper a {
	display: block;
	padding: 15px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e2e2e2;
	border-left: 3px solid #bbb;
}
.blog-category-wrapper a:last-child {
	border-bottom: none;
}
.blog-category-wrapper a:hover {
	background-color: #fff;
	border-left-color: #0063aa;
	border-bottom-color: #bbb;
}
.blog-category-wrapper a.selected {
	border-left-color: #00aa63;
	font-weight: bold;
}
.instance-title,
.category-title {
	border-bottom: 1px solid #bbb;
	background-color: #fff;
	padding: 15px;
}
.instance-title input,
.category-title input {
	border: 1px solid #bbb;
	width: 100%;
}
.instance-title input:focus {
	border-color: #00aa63;
}
.instance-list {
}
.instance-list li {
	border-left: 3px solid #bbb;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e2e2e2;
    padding: 15px;
}
.instance-list li:last-child {
	border-bottom: none;
}
.instance-list li:hover {
	background: #fff;
	border-bottom-color: #bbb;
	border-left-color: #0063aa;
}
.instance-list li .delete_item {
	float: right;
}
.article-list {

}
.article-list li {
    border-left: 3px solid #bbb;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f5f5f5;
    padding: 15px;

}
.article-list li:last-child {
	border-bottom: none;
}
.article-list li:hover {
	background: #fff;
	border-bottom-color: #bbb;
	border-left-color: #0063aa;
}