.dashboard_manage {
	padding: 0;
}
.instance-title {
	border-bottom: 1px solid #bbb;
	background-color: #fff;
	padding: 15px;
}
.instance-title input {
	border: 1px solid #bbb;
	width: 100%;
}
.instance-title input:focus {
	border-color: #00aa63;
}
.instance-list {
}
.instance-list li {
    background-color: #f5f5f5;
	border-top: 1px dashed #bbb;
	
    padding: 15px;
}
.instance-list li:first-child {
	border-top: none;
}
.instance-list li:hover {
	background: #fff;
}
.instance-list li .delete-button {
	float: right;
}